@import "./variables.scss";
@import "./mixins.scss";

:root {
	--amplify-primary-color: #{$color_font_title};
	--amplify-primary-tint: #{$color_font_title};
	--amplify-primary-shade: #{$color_font_title};
}

html,
body,
#__next,
.fullHeight {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: $color_dark01;
	font-family: $FONT_MAIN;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		-webkit-transition: all 0.4 ease-in-out;
		-moz-transition: all 0.4 ease-in-out;
		transition: all 0.4 ease-in-out;
	}
}

h1 {
	font-family: $FONT_TITLE;
	font-size: 1.75rem;
	text-align: center;
	color: $color_font_title;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}

h2,
h3,
h4 {
	color: $color_font_white_01;
}

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	margin: 0 auto;
	width: 100%;
	min-height: calc(100% - #{$HEADER_DEFAULT} - #{$FOOTER_DEFAULT});
	color: $color_font_white_02;
}
