// FONTS
$FONT_MAIN: "Roboto", sans-serif;
$FONT_TITLE: "Rubik", sans-serif;

// FIXED SIZES
$HEADER_DEFAULT: 3.5rem;
$FOOTER_DEFAULT: 1.5rem;

// COLORS
$color_dark01: #141414;
$color_dark_transparent: rgba(0, 0, 0, 0.6);

$color_font_title: #0892d0;
$color_font_white_01: #fff;
$color_font_white_02: #999;
